BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
PointerAlignment: Left
NamespaceIndentation: None
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: true
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
MaxEmptyLinesToKeep: 1